body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    background-image: url(../img/spin-bkg.jpg);
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative; /* Allows for positioning of aside wider widths */
}

h1 {
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;
}

h2,
h3 {
    font-family: 'Noto Sans';
}

h2 {
    font-size: 2rem;
}

h3,
p,
li {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

/* STANDARD SPACING RULES */
* + * {
    margin-top: 1rem;
}

section + section {
    margin-top: 4rem;
}

/* STANDARD RULES FOR SECTIONING ELEMENTS */
main,
aside,
header {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
}

/* HEADER SETTINGS */
header {
    background-color: #cf1920;
    position: relative;
}

h1 {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0; /* Positioning forces the h1 to ignore default margins and span entire viewport width. Used this method since I planned on using positioning for larger screens anyways. */
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    width: auto;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    padding: 1rem 2rem 1rem 1rem; /* Extra padding on right balances negative space in the logo icon file. */
    font-weight: 500;
    border-bottom: solid 1.5rem #cf1920;
}

h1 img {
    width: 5rem;
    margin-right: 1rem;
}

nav {
    position: absolute;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: -0.7rem;
    padding-left: 0; /* This overrides the default for ul's */
}

nav ul li {
    margin-top: 0;
    margin-right: 1rem;
    font-size: 1rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    margin-top: 6rem;
}

/* IMAGES DEFAULT SETTINGS */
img {
    width: 100%;
}

/* CONTACT BAR */
.contact-bar {
    list-style-type: none;
    position: fixed;
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    background: rgba(205, 200, 200, 0.9);
    margin-bottom: 0;
    padding-left: 0;
    border-top: solid 10px #cf1920;
    width: 100vw;
    z-index: 10000; /* Prevents calendar events from overlapping */
}

.contact-icon {
    width: 2rem;
    filter: drop-shadow(0 0 7px rgba(100, 100, 100, 0.6));
}

.contact-bar li {
    width: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* BUTTON SETTINGS */
.button-container {
    margin-top: 2rem;
    text-align: right;
}

.button {
    background-color: #cf1920;
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    transition: padding 0.25s ease-in, font-size 0.25s ease-in; /* Transform would have no effect on button size unless you target its container. This was cleaner and there's only a tiny shift in surrounding elements. */
}

.button:hover {
    padding: 1.1rem;
    font-size: 1.1rem;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    transition: padding 0.25s ease-in, font-size 0.25s ease-in;
}

/* COLOR SWATCHES */
.colors-list,
.fonts-list {
    list-style-type: none;
    padding-left: 0; /* Aligns list contents flush left w/ other content */
}

.swatch {
    width: 100%;
    height: 4rem;
    box-shadow: 0 3px 5px rgba(102, 102, 102, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

COLOR PALLETTE
.black: #1a0a0b;

.blue: #059cae;

.green: #7fe907;

.red: #cf1920;
*/

/* ------------------- SIGN UP FORM ------------------------- */
input,
label {
    display: block;
}

label {
    color: #cf1920;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

input[type=text],
input[type=tel],
input[type=email] {
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
}

select {
    padding: 0.75rem;
}

form {
    max-width: 500px;
    margin: auto;
}

/* ------------------- LOGO ANIMATIONS -------------------------- */
.logo-spin {
    animation: spin 25s ease-in-out 1s 3;
}

@keyframes spin {

    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(720deg);
    }

    15% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

/* -------------------MEDIA QUERY 800 PX + ------------------------- */
@media (min-width: 800px) {

    h1 {
        right: initial;
        top: -1.3rem;
        border-bottom: none;
        left: 1rem;
    }

    header {
        margin-top: 1.3rem;
    }

    nav {
        right: 0;
        width: 50%;
    }

    nav ul {
        justify-content: flex-start;
    }

    nav ul li {
        margin-right: 2rem;
        font-size: 1.2rem;
    }

    .contact-bar {
        width: 35vw;
        border-radius: 0 10px 0 0;
    }

    main {
        width: 80%;
        margin: 1rem auto;
    }
}

/* -------------------MEDIA QUERY 1045 PX + ------------------------- */
@media (min-width: 1045px) {

    h1 {
        font-size: 2.1rem;
        left: 12%;
    }

    main {
        width: 57%;
        margin: 1rem 1rem 0;
    }

    aside {
        width: 25%;
        margin-right: 1rem;
        position: absolute;
        top: 4rem;
        right: 1rem;
    }
}

/* -------------------MEDIA QUERY 1250 PX + ------------------------- */
@media (min-width: 1250px) {

    h1 {
        left: 18%;
    }

    main {
        width: 60%;
    }
}
